asgiref==3.7.2
certifi==2023.7.22
cffi==1.15.1
cryptography @ file:///private/tmp/python-cryptography-20230802-6609-hza959/cryptography-41.0.3
distlib==0.3.7
Django==4.2.6
filelock==3.12.4
platformdirs==3.11.0
pycparser @ file:///private/tmp/pycparser-20230831-6050-10bkury/pycparser-2.21
python-decouple==3.8
PyYAML @ file:///private/tmp/pyyaml-20230718-6387-cxgeib/PyYAML-6.0.1
six==1.16.0
sqlparse==0.4.4
virtualenv==20.24.5
